@model  UrlShortener.Models.LocationModel

<div class="jumbotron">
    <h1>Url Shortener</h1>
    <p class="lead">Shorten URLs the simple and naive way!</p>
    @using (Html.BeginForm("Shortened", "Home"))
    {
        <p>
            @Html.LabelFor(m => m.FullURI)
            @Html.TextBoxFor(m => m.FullURI, new
       {
           id = "FullURL",
           placeholder = "URL to be shortened",
           required = "required"
       })
        </p>
        //TODO: if we prompt and check the token, put this back in
        @*<p>
                @Html.LabelFor(m => m.ConfirmationCode)
                @Html.TextBoxFor(m => m.ConfirmationCode, new { placeholdertext = "optional code to delete short URL" })
            </p>*@
        <input type="submit" value="ShortenIt!" class="btn btn-primary btn-lg" />
    }
</div>
